html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input,
select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

select,
input,
textarea,
button {
  font: 99% sans-serif;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

html {
  overflow-y: scroll;
}


small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

textarea {
  overflow: auto;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input:invalid,
textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0, 0, 5px, red;
  -webkit-box-shadow: 0, 0, 5px, red;
  -o-box-shadow: 0, 0, 5px, red;
  box-shadow: 0, 0, 5px, red;
}


body,
select,
input,
textarea {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  height: 100%;
}

body {
  width: 960px;
  margin: 15px auto;
  padding-bottom: 20px;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 15px;
}

h4 {
  font-weight: normal;
  font-size: 14px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin-left: 0;
}


.invisible {
  visibility: hidden;
}


a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: black;
  text-decoration: underline; 
}

.inline {
  display: inline;
}

.footer {
  margin-top: 25px;
}

.footer a{
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
  color: inherit;
}

.f-left {
  font-size: 8pt;
  text-align: left;
  float: left;
}

.f-right {
  font-size: 8pt;
  text-align: right;
  float: right;
}

label {
   height: 16px;
   width: 16px;
   vertical-align: middle;
   display:inline-block;
   padding: 0 0 0 0px;
  background-repeat: no-repeat;


  /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.delete {
   background-image: url('/img/trash.png');
  
}

.copy {
   background-image: url('/img/copy.png');
  
}

.move_up {
   background-image: url('/img/up.png');
  
}

.move_down {
   background-image: url('/img/down.png');
  
}

.edit {
   background-image: url('/img/edit.png');
  
}


.ok {
   background-image: url('/img/ok.png');
  
}


.cancel {
   background-image: url('/img/cancel.png');
  
}
.open {
   background-image: url('/img/plus.png');
  
}

.close {
  background-image: url('/img/minus.png');
    }

.list {
  margin-top: 5px;
}

.item {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.field {
 margin-left: 10px; 
}

input, button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.breadcrumb {
  margin-bottom: 15px;
  list-style: none; 
  overflow: hidden; 
  font: 15px Helvetica, Arial, Sans-Serif;
}

.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 65px;
  background: brown;                   /* fallback color */
  background: hsla(34,85%,35%,1); 
  position: relative; 
  display: block;
  float: left;
}

.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(34,85%,35%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}

.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
.breadcrumb li:last-child a {
  color: black;
  pointer-events: none;
  cursor: default;
}

.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }